:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-bg1: rgba(253,102,95,255);
  --color-bg2: rgb(253,73,120);

  --color-interactive: 140, 100, 255;
  --circle-size: 80%;

  --bright-yellow: 254,248,174;
  --blending: hard-light;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#main-bg {
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

#circle0 {
  mix-blend-mode: var(--blending);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: center center;
}
#circle1 {
  mix-blend-mode: var(--blending);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 400px);
}

#circle2 {
  mix-blend-mode: var(--blending);
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);
  transform-origin: calc(50% + 400px);
}

#circle3{
  mix-blend-mode: var(--blending);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 200px);
}

#circle4 {
  mix-blend-mode: var(--blending);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));
  transform-origin: calc(50% - 800px) calc(50% + 200px);
}

#circle5 {
  mix-blend-mode: var(--blending);
  top: calc(50% - var(--circle-size) - 800px);
  left: calc(50% - var(--circle-size));
  transform-origin: calc(50% - 800px) calc(50% + 200px);
}

#circle6{
  mix-blend-mode: var(--blending);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 200px);
}

@font-face {
  font-family: 'FloatingText';
  src: url(./assets/fonts/Higuen\ Serif.otf);
}